version: '3'
services:
  node-app:
    container_name: express-node-app-container
    image: mahmoudelokaily/elokaily-docker
    build: .
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      - PORT=4000
      - DB_HOST=postgres
    depends_on:
      - mongo
      - redis

#  mongo-express:
#    image: mongo-express
#    restart: always
#    ports:
#      - 8081:8081
#    environment:
#      ME_CONFIG_BASICAUTH_USERNAME: root
#      ME_CONFIG_BASICAUTH_PASSWORD: example
#
#      ME_CONFIG_MONGODB_ADMINUSERNAME: root
#      ME_CONFIG_MONGODB_ADMINPASSWORD: example
#      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
#    depends_on:
#      - mongo
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
  redis:
    image: redis
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - node-app
#  postgres:
#    image: postgres:18-alpine
#    container_name: postgres
#    restart: always
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: example
#      POSTGRES_DB: node_app
#    volumes:
#      - postgres-db:/var/lib/postgresql
#    ports:
#      - "5432:5432"
#    healthcheck:
#      test: [ "CMD-SHELL", "pg_isready -U postgres -d node_app" ]
#      interval: 5s
#      timeout: 5s
#      retries: 10





volumes:
  mongo-db:
  postgres-db:

